body {
	background-color: $bodyBg;
	color: $bodyColor;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	@include fontSize(1.4, 1.8);
}

.contanier {
	width: 100%;
	max-width: #{$maxWidth}px;
	margin: 0 auto;

}
