
html
{
scroll-behavior: smooth;
font-size: 62.5%;
}

body {
	
@include fontSize( 1.6 , 2);
background-color: $bodyColor;
color: $mainTxtColor;
min-height: 100vh;
display: flex;
justify-content: space-between;
flex-direction: column;

}



