
html
{
scroll-behavior: smooth;
font-size: 62.5%;
}

body {

background-color: $bodyColor;
color: $mainTxtColor;
min-height: 100vh;

}

.contanier {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 0.5rem;

	@include fontSize( 1.6 , 2);

}

