@mixin fontSize($minFontSize, $maxFontSize) {
	$minWidth: 320;

	$slopeMinWidth: ($minWidth/10);
	$slopeMaxWidth: ($maxWidth/10);

	$slope: ($maxFontSize - $minFontSize) / ($slopeMaxWidth - $slopeMinWidth);
	$yAxisIntersection: -$slopeMinWidth * $slope + $minFontSize;

	// статичный font Size  до 375px
	font-size: #{$minFontSize}rem;

	// динамический font Size
	@media (min-width: 374.98px) {
		font-size: calc(#{$yAxisIntersection}rem + #{$slope * 100}vw);
	}

	// статичный font Size для desktop
	@media (min-width: #{$maxWidth}px) {
		font-size: #{$maxFontSize}rem;
	}
}

// пример:
// .SUPERSLECTOR {
// 	@include fontSize(2, 5.5);
// }
// указывавать значения просто цифрой в rem 
