* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

button
{
cursor: pointer;
}

button[disabled]
{
	opacity: 0.5 !important;
	cursor: default !important;
	&:hover,
	&:active,
	&:focus {
		opacity: 0.5 !important;
		cursor: default !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}
p {
	padding: 0;
	margin: 0;
}

a {

	color: currentColor;
	text-decoration: none;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.2s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.2s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.2s ease;}

input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.2s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.2s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.2s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.2s ease;}
