@mixin font($url, $family, $weight, $style) {
	@font-face {
		font-display: swap;
		font-family: $family;
		font-style: #{$style};
		font-weight: $weight;
		src: url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff");
	}
}

// maxWidth-максимальная гирина контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 1400;

html{
--main-text-color: black;
--minor-text-color: #7676b3;

--main-accent-color: dodgerblue;
--minor-accent-color: dodgerblue;

--body-color:white;
}

html[data-theme="dark"] {
	--main-text-color: #c9d1d9;
	--minor-text-color: #c9d1d9;
	
	--main-accent-color: dodgerblue;
	--minor-accent-color: dodgerblue;
	
	--body-color:#0d1117;
}

$errorColor: #FF0033;
$succesColor: #39d353;

$bodyColor: var(--body-color);

$mainTxtColor: var(--main-text-color);
$minorTxtColor: var(--minor-text-color);

$mainAccentColor: var(--main-accent-color);
$minorAccentColor:  var(--minor-accent-color);






