
@import "normalize.css";

@import "css/template/header.css";
@import "css/template/body.css";
@import "css/template/footer.css";

.wrap {

	display: flex;
	
	justify-content: center;
	align-items: center;


	border-radius: 20px;
	/*box-shadow: 0 0px 7px 3px dodgerblue; */
    background: dodgerblue;
	text-shadow: 0 0 3px ;
	padding: 3rem;
    margin: 2rem auto;

}

.wrap img
{
	height: 20REM;
	width:20rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{
cursor: pointer;
opacity: 1;

}

.target
{
	font-size: calc(18px + 12 * ((100vw - 320px) / 1200));
	font-weight: bold;
	text-align: center;
	padding: 2rem;
	text-shadow: 0 0 .3em ;
}