// maxWidth-максимальная гирина контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 900;
$minWidth: 320;

$loadingColor: #ff6a00;
$succesColor: #39d353;
$errorColor: #ff0033;


$bodyBg: #111111;

$bodyColor: #c9d1d9;

$accentColor: rgb(0, 253, 139);
$linkColor: #2d9cdb;
